<html>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <table style="font-family: Titillium Web, sans-serif !important; background: #f4f6f9; " cellpadding="3"
        cellspacing="0" width="800" align="center">
        <tr>
            <td>
                <img src="https://greenpark.mx/asesores/Content/img/mails/banner.png" width="800" />
            </td>
        </tr>
        <tr>
            <td>
                <h2
                    style="font-size: 30px; color: #25282b; text-align: center; margin: 20px 0; font-family: Titillium Web, sans-serif !important; ">
                    !Bienvenid@ a Green Park! </h2>
                <p
                    style="font-size: 18px; text-align: center; color: #636568; font-family: Titillium Web, sans-serif !important;">
                    <strong>Ten a la mano la siguiente información</strong>
                </p>
                <table width="800">
                    <tr>
                        <td width="266.666" valign="top">
                            <div style="width: 266.666px">
                                <img src="https://greenpark.mx/asesores/Content/img/mails/datos.png" width="150"
                                    style="margin: 0 auto 15px auto; display: blocK;" />
                                <p style="text-align: center;"><strong> Datos Generales</strong></p>
                                <p style="font-size: 13px; text-align: center; color: #636568; ">Aquí te pediremos que
                                    llenes datos generales que ayudarán con tu registro general.</p>
                            </div>
                        </td>
                        <td width="266.666" valign="top">
                            <div style="width: 266.666px">
                                <img src="https://greenpark.mx/asesores/Content/img/mails/personales.png" width="150"
                                    style="margin: 0 auto 15px auto; display: blocK;" />
                                <p style="text-align: center;"><strong> Datos Personales</strong></p>
                                <p style="font-size: 13px; text-align: center; color: #636568; ">Completaras datos como
                                    CURP, RFC, estado civil, entre otros, para tu registro personal. </p>
                            </div>
                        </td>
                        <td width="266.666" valign="top">
                            <div style="width: 266.666px">
                                <img src="https://greenpark.mx/asesores/Content/img/mails/bancarios.png" width="150"
                                    style="margin: 0 auto 15px auto; display: blocK;" />
                                <p style="text-align: center;"><strong> Datos Bancarios</strong></p>
                                <p style="font-size: 13px; text-align: center; color: #636568; ">Solicitamos tus datos
                                    bancarios, con el fin de agilizar el proceso de tus pagos pendientes.</p>
                            </div>
                        </td>
                    </tr>
                </table>

                <a href="https://greenpark.mx/asesores/login?mail="'.$json_data[' Email'].' target="_blank"
                    style="width: 400px; display: block; padding: 10px 0; text-align: center; color: #fff; text-decoration: none; background: #317af6; margin: 60px auto; border-radius: 10px; ">Iniciar
                    Sesión</a>
            </td>
        </tr>
        <tr>
            <td>
                <small>La información contenida en este mensaje es enviada única y exclusivamente para el uso de la
                    persona, ente o entidad a quien está dirigida y/o de cualquier otra que esté autorizada para
                    recibirla. Puede contener información confidencial, privada o legalmente privilegiada. Si usted no
                    es el destinatario, queda en este acto notificado que, en caso de cualquier divulgación,
                    reproducción, distribución o cualquier acción con relación al contenido de esta información, se
                    encuentra estrictamente prohibido y podría ser ilegal y penal.
                    Cualquier opinión y otra declaración contenida en este mensaje y cualquier archivo adjunto son de
                    exclusiva responsabilidad del autor y no representan necesariamente las de la empresa.
                    Si usted ha recibido este mensaje por error, por favor notificarlo respondiendo a este correo
                    electrónico y después bórrelo de su sistema.</small>
            </td>
        </tr>
    </table>
</body>

</html>