<html>

<body>
    <table
        style='max-width:800px; padding: 10px; font-family: Arial, Helvetica, sans-serif; margin: 0 auto; border-collapse: collapse;'>
        <tr>
            <td><img style='display:block;' src='https://fibraxinversiones.mx/asesores/Content/img/mails/banner.png' width='800'>
            </td>
        </tr>
        <tr>
            <td style='padding: 0 2rem; background: #f4f6f9'>
                <h2 style='color: #25282b !important; margin-top: 30px; text-align: center; '>¡Hola
                    ".$response["Nombre"]." ".$response["Apellido_P"]."!</h2>
                <p style='color: #636568 !important; margin-bottom: 32px; font-size: 14px; text-align: center;'>
                    <strong>Estas son tus claves para iniciar sesión.
                </p>


            </td>
        </tr>
        <tr>
            <td style='background: #f4f6f9; padding: 50px 0;'>
                <table width='400' align='center'>
                    <td align='right'>
                        <img src='https://fibraxinversiones.mx/asesores/Content/img/mails/icon-correo.png' width='120' />
                    </td>
                    <td align='left' valign='middle'>
                        <p style='color: #636568 !important; margin-bottom: 32px; font-size: 14px; margin-left: 30px;'>
                            <strong> Usuario: ".$response["Email"]." <br><br> Contraseña: ".$response["Password"]."
                            </strong>
                        </p>
                    </td>
                </table>
                <a href='https://fibraxinversiones.mx/asesores/'
                    style='width: 400px; display: block; padding: 10px 0; text-align: center; color: #fff; text-decoration: none; background: #317af6; margin: 60px auto; border-radius: 10px;'>Iniciar
                    Sesión</a>
                <p style='margin-top: 40px; text-align: center; color: #6f7174; font-size: 13px; padding: 0 15px; '>Te
                    envíamos esta notificación para garantizar la privacidad y seguridad de tu cuenta con Fibrax.</p>
                <p style=' text-align: center; color: #6f7174; font-size: 13px; padding: 0 15px; '>Si has autorizado
                    este cambio, no es necesario que realices ningunta otra acción.</p>
                <p style=' text-align: center; color: #6f7174; font-size: 13px; padding: 0 15px; '>Si nos autorizado
                    este cambio, por favor , cambia tu contraseña y considera modificar la contraseña de tu email para
                    garantizar la seguridad de tu cuenta.</p>
            </td>
        </tr>
        <tr>
            <td>
                <small>La información contenida en este mensaje es enviada única y exclusivamente para el uso de la
                    persona, ente o entidad a quien está dirigida y/o de cualquier otra que esté autorizada para
                    recibirla. Puede contener información confidencial, privada o legalmente privilegiada. Si usted no
                    es el destinatario, queda en este acto notificado que, en caso de cualquier divulgación,
                    reproducción, distribución o cualquier acción con relación al contenido de esta información, se
                    encuentra estrictamente prohibido y podría ser ilegal y penal.
                    Cualquier opinión y otra declaración contenida en este mensaje y cualquier archivo adjunto son de
                    exclusiva responsabilidad del autor y no representan necesariamente las de la empresa.
                    Si usted ha recibido este mensaje por error, por favor notificarlo respondiendo a este correo
                    electrónico y después bórrelo de su sistema.</small>
            </td>
        </tr>
    </table>
</body>

</html>