<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso al sistema de Gestion y administración empresarial rainforest</title>
</head>

<body>
    <img width="100%" style='display:block;' src="">
    <br><br><br><br>
    <b>
        <h3>Hola <%nombre%>,</h3> <br><br><br>
    </b>
    Tu contraseña para ingresar Rainfores dashboard es <%password%> <br>
        Y el usuario es tu correo electrónico: <%correo%><br><br><br>
            Puedes ingresar al siguiente <a style="color: #687454;"
                href="https://rainforest-dashboard.netlify.app/">enlace</a> para acceder al sistema.

            <table>
                <tbody>
                    <tr>
                        <td>
                            <small></small>
                        </td>
                    </tr>
                </tbody>
            </table>
</body>

</html>