<html>

<head>
  <meta charset="UTF-8">
</head>

<body>
  <table style="
        max-width: 600px;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0 auto;
        border-collapse: collapse;
      ">
    <tr>
      <td>
        <img width="100%" style="display: block" src="https://greenpark.mx/hr/images/banner-hr.png" />
      </td>
    </tr>
    <tr>
      <td width="100%" height="450px" style="
            padding: 0 2rem;
            background-image: url(https://greenpark.mx/assets/images/fondos/formas-04.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          ">
         
        <h2 style="text-align: center;"><span class="hashtag" style="justify-content: center;"></h2>
        <h2 class="center" style="font-size: 59px; margin: 30px 0 0 0;text-align: center; color: #001241;">Informes</h2> 
          <br>
          
                        <h3 style="margin-left: 20%;">Nombre:          <%Nombre%></h3>
                        <h3 style="margin-left: 20%;">Apellido:          <%Apellidos%> </h3>  
                        <h3 style="margin-left: 20%;">Correo:          <%Correo%></h3>
                        <h3 style="margin-left: 20%;">Telefono:    <%Telefono%></h3>
                        <h3 style="margin-left: 20%;">Mensaje:         <%Mensaje%></h3>

      <br>
         

      </td>
  
    <tr>
      
      <td>
      </td>
    </tr>
  </table>
</body>

</html>