<html>

<head>
  <meta charset="UTF-8">
</head>

<body>
  <table style="
        max-width: 600px;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0 auto;
        border-collapse: collapse;
      ">
    <tr>
      <td>
        <img width="100%" style="display: block" src="https://www.naiakoomuna.mx/cotizador-legacy/images/header.jpg" />
      </td>
    </tr>
    <tr>
      <td width="100%" height="450px" style="
            padding: 0 2rem;
           
          ">
         
        <h2 style="text-align: center;"><span class="hashtag" style="justify-content: center;"></h2>
 
          <br>
          
                        <h3 style="margin-left: 20%;">Nombre:          <%Nombre%></h3>
                        <h3 style="margin-left: 20%;">Telefono:    <%Telefono%></h3>
                        <h3 style="margin-left: 20%;">WhatsApp:    <%WhatsApp%></h3>
                        <h3 style="margin-left: 20%;">Correo:          <%Correo%></h3>
                        <h3 style="margin-left: 20%;">Mensaje:          <%Mensaje%></h3>

      <br>
         

      </td>
  
    <tr>
      
      <td>
      </td>
    </tr>
  </table>
</body>

</html>