<html>

<body>
    <table
        style='max-width:800px; padding: 10px; font-family: Arial, Helvetica, sans-serif; margin: 0 auto; border-collapse: collapse;'>
        <tr>
            <td><img style='display:block;' src='' width='800'>
            </td>
        </tr>
        <tr>
            <td style='padding: 0 2rem; background: #f4f6f9'>
                <h2 style='color: #25282b !important; margin-top: 30px; text-align: center; '>¡Hola
                    <%Nombre%>
                        <%Apellido_P%>!
                </h2>
                <p style='color: #636568 !important; margin-bottom: 32px; font-size: 14px; text-align: center;'>
                    <strong>Estas son tus claves para iniciar sesión.
                </p>


            </td>
        </tr>
        <tr>
            <td style='background: #f4f6f9; padding: 50px 0;'>
                <table width='400' align='center'>
                    <td align='right'>
                        <img src='' width='120' />
                    </td>
                    <td align='left' valign='middle'>
                        <p style='color: #636568 !important; margin-bottom: 32px; font-size: 14px; margin-left: 30px;'>
                            <strong> Usuario: <%Email%> <br><br> Contraseña: <%Password%>
                            </strong>
                        </p>
                    </td>
                </table>
                <a href='https://rainforest-dashboard.netlify.app/Inicio'
                    style='width: 400px; display: block; padding: 10px 0; text-align: center; color: #fff; text-decoration: none; background: #317af6; margin: 60px auto; border-radius: 10px;'>Iniciar
                    Sesión</a>
              
            </td>
        </tr>
        <tr>
            <td>
             
            </td>
        </tr>
    </table>
</body>

</html>