<html>

<body>
    <table
        style='max-width:600px; padding: 10px; font-family: Arial, Helvetica, sans-serif; margin: 0 auto; border-collapse: collapse;'>
        <tr>
            <td><img width="100%" style='display:block;' src="https://fibraxinversiones.mx/asesores/Content/img/emails/ok.png">
            </td>
        </tr>
        <tr>
            <td width="100%" height="450px"
                style='padding: 0 2rem; background-image: url(https://fibraxinversiones.mx/asesores/Content/img/emails/bg.jpg); background-position: center; background-repeat: no-repeat; background-size: cover;'>
                <h2 style='color:#000000 !important; margin-top: -16px; margin-bottom: 16px;'>¡Hola <%nombre%>!</h2>
                <p style='color:#000000 !important; margin-bottom: 16px; font-size: 14px'> <strong>¡Muchas
                        felicidades!</strong> nos complace informarte que tus documentos se han verificado
                    correctamente! </p>
                <p style='color:#000000 !important; margin-bottom: 16px; font-size: 14px'>Estamos muy felices de este
                    gran primer paso en tu búsqueda de la libertad financiera.</p>

                <p style='color:#000000 !important; margin-bottom: 16px; font-size: 14px'>Hemos recibido sus documentos
                    satisfactoriamente</p>
                <p style='color:#000000 !important; margin-bottom: 12px; font-size: 14px'> <strong>Tu asesor te
                        contactará lo más pronto posible</strong></p>

                <img width="50px" style='display: block; margin-bottom: 16px;'
                    src="https://fibraxinversiones.mx/asesores/Content/img/emails/icon-fx.png"><strong
                    style='color:#000000 !important; display: block; font-size: 12px; margin-bottom: 8px;'>
                    Tu contrato esta siendo creado, lo recibiras a la brevedad.
                </strong> <strong style='color: #041046; display: block; font-size: 11px'>Familia Fibrax.</strong>

            </td>
        </tr>
        <tr>
            <td
                style='background-color: #ebebeb; padding: 5px 12px; display: flex; align-items: center; justify-content: space-between;'>
                <img width="30%" style='display: block;'
                    src="https://fibraxinversiones.mx/asesores/Content/img/emails/logo-fxlife-color.png">
                <ul style='list-style: none; display: flex;align-items: center;'>
                    <li><a href="https://www.facebook.com/fibraxmexico/"
                            style='display: flex; margin-right: 16px; align-items: center; font-size: 10px; text-decoration: none;font-weight: bold; color: #848484!important;'><span
                                style='background-color: #848484; width: 20px; height: 20px; border-radius: 50%; display:flex; align-items: center; justify-content: center; margin-right: 4px;'><img
                                    width="12px" style='display: block; margin: auto'
                                    src="https://fibraxinversiones.mx/asesores/Content/img/emails/face-blanco.png"></span>Facebook</a>
                    </li>
                    <li><a href="https://www.instagram.com/fibraxmexico/"
                            style='display: flex; margin-right: 16px; align-items: center; font-size: 10px; text-decoration: none;font-weight: bold; color: #848484!important;'><span
                                style='background-color: #848484; width: 20px; height: 20px; border-radius: 50%; display:flex; align-items: center; justify-content: center; margin-right: 4px;'><img
                                    width="12px" style='display: block; margin: auto'
                                    src="https://fibraxinversiones.mx/asesores/Content/img/emails/insta-blanco.png"></span>Instagram</a>
                    </li>

                </ul>
            </td>
        </tr>

        <tr>
            <td>
                <small>La información contenida en este mensaje es enviada única y exclusivamente para el uso de la
                    persona, ente o entidad a quien está dirigida y/o de cualquier otra que esté autorizada para
                    recibirla. Puede contener información confidencial, privada o legalmente privilegiada. Si usted no
                    es el destinatario, queda en este acto notificado que, en caso de cualquier divulgación,
                    reproducción, distribución o cualquier acción con relación al contenido de esta información, se
                    encuentra estrictamente prohibido y podría ser ilegal y penal.
                    Cualquier opinión y otra declaración contenida en este mensaje y cualquier archivo adjunto son de
                    exclusiva responsabilidad del autor y no representan necesariamente las de la empresa.
                    Si usted ha recibido este mensaje por error, por favor notificarlo respondiendo a este correo
                    electrónico y después bórrelo de su sistema.</small>
            </td>
        </tr>
    </table>
</body>

</html>