<html>

<body>
    <table
        style='max-width:600px; padding: 10px; font-family: Arial, Helvetica, sans-serif; margin: 0 auto; border-collapse: collapse;'>
        <tr>
            <td><img width="100%" style='display:block;' src="https://greenpark.mx/hr/images/banner-hr.png"></td>
        </tr>
        <tr>
            <td width="100%" height="450px"
                style='padding: 0 2rem; background-image: url(https://greenpark.mx/asesores/Content/img/emails/bg.jpg); background-position: center; background-repeat: no-repeat; background-size: cover;'>
                Tu contraseña es: <b><%password%></b> <br>
                Tu usuario es: <%user%><b></b>  <br> <br>

                Ingresa al siguiente <a href="https://greenpark.mx/asesores/login" target="_blank">enlace</a> para iniciar sesion
            </td>
        </tr>

    </table>
</body>

</html>